body {
    background-image: url(./assets/images/bg.jpg);
    color: white;
    font-family: 'Merriweather', serif;
}



.first-header {

    font-size: 80px;
    font-weight: 700;
    font-style: normal;

}

.second-header {
    font-size: 64px;
    font-weight: 600;
}

.second-header-text {
    font-size: 16px;
    font-style: normal;
}

.text-line:before {
    content: " ";
    display: block;
    height: 1px;
    width: 230px;
  position: absolute;
    top: 50%;
    left: 0;
    background: grey;

}

.text-line {
    position: relative;
}

.text-line:after {
    content: " ";
    height: 1px;
    width: 230px;
    background: grey;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}


.second-container-background {
    background: white
}


#navbar-set {
    color: white;
}

.image-col {
    width: 350px
}


.name-grid {

    display: block;
    margin: 0 auto;

}

.grid-date {}

.grid-main-text {}

.grid-parpagraph {}